<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>cl.clayster.exi.EXIPlugin</class>

    <!-- Plugin meta-data -->
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Javier Placencio</author>

    <version>${project.version}</version>
    <date>2023-11-26</date>
    <minServerVersion>4.7.0</minServerVersion>
    <priorToServerVersion>4.8.0</priorToServerVersion>

</plugin>
